<footer class="footer text-center text-white">
    <div class="container p-2">
      <!-- Section: CTA -->
      <div class="cta">
        <p class="d-flex justify-content-center align-items-center">
          <a href="{% url 'home' %}" class="project-link me-3">Home</a>
          <a href="https://github.com/DanieleGotti/MUSEO_Digital_Art_2.0" class="project-link">GitHub</a>
        </p>
      </div>
      <!-- Section: CTA -->
    </div>
    <!-- Copyright -->
    <div class="text-center p-1 copyright">
      <p>© 2024 Copyright:</p>
      <p>Progetto Programmazione Web 2024 - Gruppo: DgFg24</p>
    </div>
  </footer>
  