<!DOCTYPE HTML>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navbar</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/cssNav.css' %}">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jsNav.js' %}"></script>

</head>

<body>
  <nav class="navbar">
    <ul class="navbarNav">
      <li class="navItem">
        <a href="{% url 'home' %}" class="navLink" onmouseenter="animateIcon(this)" onmouseleave="animateIcon(this)">
          <img src="{% static 'img/homeStatica.png' %}">
          <span class="linkText">Home</span>
        </a>
      </li>
      <li class="navItem">
        <a href="{% url 'tema' %}" class="navLink" onmouseenter="animateIcon(this)" onmouseleave="animateIcon(this)">
          <img src="{% static 'img/temaStatica.png' %}">
          <span class="linkText">Temi</span>
        </a>
      </li>
      <li class="navItem">
        <a href="{% url 'sala' %}" class="navLink" onmouseenter="animateIcon(this)" onmouseleave="animateIcon(this)">
          <img src="{% static 'img/salaStatica.png' %}">
          <span class="linkText">Sale</span>
        </a>
      </li>
      <li class="navItem">
        <a href="{% url 'opera' %}" class="navLink" onmouseenter="animateIcon(this)" onmouseleave="animateIcon(this)">
          <img src="{% static 'img/operaStatica.png' %}">
          <span class="linkText">Opere</span>
        </a>
      </li>
      <li class="navItem">
        <a href="{% url 'autore' %}" class="navLink" onmouseenter="animateIcon(this)" onmouseleave="animateIcon(this)">
          <img src="{% static 'img/autoreStatica.png' %}">
          <span class="linkText">Autori</span>
        </a>
      </li>
    </ul>
  </nav>
</body>
</html>
