.modal-content {
    max-width: 600px;
    margin: auto;
}
.modal-body form label,
.modal-body form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.modal-body form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.modal-body form button:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.hidden {
    display: none;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #FFB68D !important;
  border-color: #FFB68D;
  color: #fff;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #FFB68D !important;
  border-color: #FFB68D;
  color: #fff;
}

.datepicker-dropdown {
  background-color: #fff;
}

.datepicker table tr td:hover,
.datepicker table tr td.day:hover {
  background-color: #FFB68D;
  border-color: #FFB68D;
  color: #fff;
}
