body {
    background-color: #FEF0E7;
  }
  
  .navbar {
    background-color: #F76E11;
  }
  
  .nav-link, .navbar-brand {
    color: #FEF0E7 !important;
  }
  
  .nav-link:hover, .navbar-brand:hover {
    color: #FFB68D !important;
  }
  
  .card-header {
    background-color: #D35400; /* Un arancione diverso per differenziare */
    color: white;
  }
  
  .form-control {
    background-color: #E67E22; /* Arancione leggermente diverso */
    color: white;
    border: 1px solid #FEF0E7;
  }
  
  .form-control::placeholder {
    color: #FEF0E7;
    opacity: 1;
  }
  
  .form-control:focus {
    background-color: #E67E22;
    color: white;
    border-color: white;
  }
  
  .btn-primary {
    background-color: #F76E11;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #FFB68D;
    border: 2px solid white;
  }
  
  .btn-secondary {
    background-color: #F76E11;
    border: none;
  }
  
  .btn-secondary:hover {
    background-color: #FFB68D;
    border: 2px solid white;
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(255, 182, 141, 0.5) !important; /* Colore tenue di arancione */
    color: black;
  }
  
  .table-hover tbody tr:hover td a {
    color: black !important;
  }
  
  .table-hover tbody tr td a {
    color: #1C77C3;
  }
  
  .table-hover tbody tr td a:hover {
    font-size: 16px;
  }
  
  .table-hover tbody tr td a:visited {
    color: #8B1E3F;
  }
  
  .table thead th {
    background-color: #F76E11;
    color: white;
  }
  
  .footer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    background-color: #f26419;
    display: grid;
    place-items: center;
    justify-content: center;
    padding: 0px 10px;
    position: static;
    bottom: 0;
  }
  
  .footer.fixed {
    position: fixed;
  }
  
  .footer ul {
    list-style: none;
    display: flex;
    padding-top: 10px;
  }
  
  .footer li {
    margin: 0 5px;
  }
  
  .footer ul li a {
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    transition: 200ms;
    font-family: "Open sans";
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
  }
  
  .footer ul li a:hover {
    color: #FFB68D;
  }
  
  .footer p {
    right: 0;
    padding: 0;
    color: #FFB68D;
    height: 12px;
    margin: 0;
    text-align: center;
    font-family: "Open sans";
    font-weight: 600;
    font-size: 10px;
    padding-bottom: 10px;
  }
  