<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museo - Digital Art</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cssHome.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssNav.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssFooter.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssHeader.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssLoading.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jsFooter.js' %}"></script>
    <script src="{% static 'js/jsNav.js' %}"></script>
    <script src="{% static 'js/jsLoading.js' %}"></script>
</head>
<body>

    {% include 'header.html' with page_title="Home" %}
    {% include 'nav.html' %}

    <div class="caricamento">
        <span>...</span>
    </div>

    <div class="container-fluid my-4">

        <div class="indexIntro text-center mt-5">
            <!--<div class="indexLogo mb-4">
                <img class="logoImage img-fluid" src="{% static 'img/logo.png' %}">
            </div>-->
            <img class="indexImage img-fluid" src="{% static 'img/intro.jpg' %}">
        </div>

        <div class="indexContent mt-5">
            <div class="panel position-relative">
                <div class="panelTitle d-flex justify-content-between align-items-center">
                    <h3>Scopri i nostri temi</h3>
                    <a href="{% url 'tema' %}" class="btn btn-outline-primary">Scopri di più</a>
                </div>
                <div id="temaCarousel" class="carousel slide" data-bs-ride="carousel">
                    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="cards-wrapper">
                                {% for tema in temihome %}
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ tema.1 }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Codice Tema: {{ tema.0 }}</h6>
                                        <p class="card-text">Numero Sale: {{ tema.2 }}</p>
                                        <a href="{% url 'tema' %}?codice={{ tema.0 }}" class="card-link">Dettagli</a>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="indexContent mt-5">
            <div class="panel position-relative">
                <div class="panelTitle d-flex justify-content-between align-items-center">
                    <h3>Visita le nostre sale</h3>
                    <a href="{% url 'sala' %}" class="btn btn-outline-primary">Scopri di più</a>
                </div>
                <div id="salaCarousel" class="carousel slide" data-bs-ride="carousel">
                    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="cards-wrapper">
                                {% for sala in salahome|slice:":10" %}
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ sala.1 }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Numero Sala: {{ sala.0 }}</h6>
                                        <p class="card-text">Opere esposte: {{ sala.3 }}</p>
                                        <a href="{% url 'sala' %}?numero={{ sala.0 }}" class="card-link">Dettagli</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

                
        <div class="indexContent mt-5">
            <div class="panel position-relative">
                <div class="panelTitle d-flex justify-content-between align-items-center">
                    <h3>Ammira le nostre opere</h3>
                    <a href="{% url 'opera' %}" class="btn btn-outline-primary">Scopri di più</a>
                </div>
                <div id="operaCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="cards-wrapper">
                                {% for opera in operahome|slice:":10" %}
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"> {{ opera.4 }}</p>
                                        <h6 class="card-subtitle mb-2 text-muted">Codice Opera: {{ opera.0 }}</h6>
                                        <p class="card-text">Autore: {{ opera.2 }} {{ opera.3 }}</p>
                                        <a href="{% url 'opera' %}?opera={{ opera.0 }}" class="card-link">Dettagli</a>
                                        
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="indexContent mt-5">
            <div class="panel position-relative">
                <div class="panelTitle d-flex justify-content-between align-items-center">
                    <h3>Risali agli autori</h3>
                    <a href="{% url 'autore' %}" class="btn btn-outline-primary">Scopri di più</a>
                </div>
                <div id="autoreCarousel" class="carousel slide" data-bs-ride="carousel">
                    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="cards-wrapper">
                                {% for autore in autorehome|slice:":10" %}
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"> {{ autore.1 }} {{ autore.2 }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">Codice: {{ autore.0 }}</h6>
                                        <p class="card-text">Nazione: {{ autore.3 }}</p>
                                        <a href="{% url 'autore' %}?codice={{ autore.0 }}" class="card-link">Dettagli</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    
</body>
</html>

