<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opere</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssFooter.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssHeader.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssLoading.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jsFiltersMove.js' %}"></script>
    <script src="{% static 'js/jsLoading.js' %}"></script>
</head>
<body>

    {% include 'header.html' with page_title="Opere" %}
    {% include 'nav.html' %}

    <div class="caricamento">
        <span>...</span>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <!-- Filtro a sinistra -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Filtri</h5>
                    </div>
                    <div class="card-body">
                        <form method="GET" action=".">
                            <div class="mb-3">
                                <input id="opera" class="input" name="opera" type="text" value="{{ opera }}"/>
                                <label class="placeHolder">Opera</label>
                            </div>
                            <div class="mb-3">
                                <input id="autore" class="input" name="autore" type="text" value="{{ autore }}"/>
                                <label class="placeHolder">Autore</label>
                            </div>
                            <div class="mb-3">
                                <input id="nome" class="input" name="nome" type="text" value="{{ nome }}"/>
                                <label class="placeHolder">Nome</label>
                            </div>
                            <div class="mb-3">
                                <input id="cognome" class="input" name="cognome" type="text" value="{{ cognome }}"/>
                                <label class="placeHolder">Cognome</label>
                            </div>
                            <div class="mb-3">
                                <input id="titolo" class="input" name="titolo" type="text" value="{{ titolo }}"/>
                                <label class="placeHolder">Titolo</label>
                            </div>
                            <div class="mb-3">
                                <input id="annoAcquisto" class="input" name="annoAcquisto" type="text" value="{{ annoAcquisto }}"/>
                                <label class="placeHolder">Anno Acquisto</label>
                            </div>
                            <div class="mb-3">
                                <input id="annoRealizzazione" class="input" name="annoRealizzazione" type="text" value="{{ annoRealizzazione }}"/>
                                <label class="placeHolder">Anno Realizzazione</label>
                            </div>
                            <div class="mb-3">
                                <input type="radio" class="radio" id="quadro" name="tipo" value="Quadro">
                                <label for="quadro" class="radioLabel">Quadro</label>
                            </div>
                            <div class="mb-3">
                                <input type="radio" class="radio" id="scultura" name="tipo" value="Scultura">
                                <label for="scultura" class="radioLabel">Scultura</label>
                            </div>
                            <div class="mb-3">
                                <input id="espostaInSala" class="input" name="espostaInSala" type="text" value="{{ espostaInSala }}"/>
                                <label class="placeHolder">Esposta In Sala</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-between col-md-5">
                                    <span>Cerca</span>
                                    <img src="{% static 'img/cerca.png' %}"/>
                                </button>
                                <button class="btn btn-primary btn-invisible col-md-1" disabled></button>
                                <button type="reset" class="btn btn-secondary d-flex align-items-center justify-content-between col-md-5" onclick="window.location.href='/opera/'">
                                    <span>Reset</span>
                                    <img src="{% static 'img/reset.png' %}"/>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Tabella a destra -->
            <div class="col-md-9">
                <div id="result" class="table-responsive bg-white rounded p-3">
                    <table class="table table-hover">
                        <thead class="table">
                            <tr>
                                <th>Opera
                                    <button class="iconArrow" onclick="window.location.href='{{ url_opera }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Titolo
                                    <button class="iconArrow" onclick="window.location.href='{{ url_titolo }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Autore
                                    <button class="iconArrow" onclick="window.location.href='{{ url_autore }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Nome
                                    <button class="iconArrow" onclick="window.location.href='{{ url_nome }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Cognome
                                    <button class="iconArrow" onclick="window.location.href='{{ url_cognome }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Anno Acquisto
                                    <button class="iconArrow" onclick="window.location.href='{{ url_annoAcquisto }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Anno Realizzazione
                                    <button class="iconArrow" onclick="window.location.href='{{ url_annoRealizzazione }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Tipo
                                    <button class="iconArrow" onclick="window.location.href='{{ url_tipo }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Esposta In Sala
                                    <button class="iconArrow" onclick="window.location.href='{{ url_espostaInSala }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for opera in opere %}
                            <tr>
                                <td>{{ opera.0 }}</td>
                                <td>{{ opera.4 }}</td>
                                <td>
                                    <a href="{% url 'autore_opera' opera.1 %}">{{ opera.1 }}</a> <!-- collegamento alla tabella autore -->
                                </td>
                                <td>{{ opera.2 }}</td>
                                <td>{{ opera.3 }}</td>
                                
                                <td>{{ opera.5 }}</td>
                                <td>{{ opera.6 }}</td>
                                <td>{{ opera.7 }}</td>
                                <td>
                                    <a href="{% url 'sala_opera' opera.8 %}">{{ opera.8 }}</a> <!-- collegamento alla tabella sala -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
