<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssPage.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jsFiltersMove.js' %}"></script>
</head>
<body>

    {% include 'nav.html' %}

    <div class="container-fluid">
        <div class="row">
            <!-- Filtro a sinistra -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4>Filtri</h4>
                    </div>
                    <div class="card-body">
                        <form method="GET" action=".">
                            <li class="mb-3">
                                <input id="numero" class="input" name="numero" type="text" value="{{ numero }}"/>
                                <label class="placeHolder">Numero</label>
                            </li>
                            <li class="mb-3">
                                <input id="nome" class="input" name="nome" type="text" value="{{ nome }}"/>
                                <label class="placeHolder">Nome</label>
                            </li>
                            <li class="mb-3">
                                <input id="superficie" class="input" name="superficie" type="text" value="{{ superficie }}"/>
                                <label class="placeHolder">Superficie</label>
                            </li>
                            <li class="mb-3">
                                <input id="temaSala" class="input" name="temaSala" type="text" value="{{ temaSala }}"/>
                                <label class="placeHolder">Tema</label>
                            </li>
                            <li class="mb-3">
                                <input id="descrizione" class="input" name="descrizione" type="text" value="{{ descrizione }}"/>
                                <label class="placeHolder">Descrizione</label>
                            </li>
                            <li class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary">Cerca</button>
                                <button type="reset" class="btn btn-secondary" onclick="window.location.href='/sala/'">Reset</button>
                            </il>
                            <li class="mb-3">
                                <input id="opera" class="input" name="nomeopera" type="text" value="{{ nomeopera }}">
                                <label class="placeHolder">Titolo dell'opera</label>
                            </li>
                            <li class="mb-3">
                                <button type="submit" class="button">
                                    <span class="buttonText">Cerca per opera</span>
                                    <span class="buttonIcon"></span>
                                </button>
                            </li>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Tabella a destra -->
            <div class="col-md-8">
                <div id="result" class="table-responsive bg-white rounded p-3 shadow">
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>CODICE</th>
                                <th>DESCRIZIONE</th>
                                <th>NUMERO SALE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tema in temi %}
                                <tr>
                                    <td>{{ tema.0 }}</td>
                                    <td>{{ tema.1 }}</td>
                                    <td>
                                        <a href="{% url 'sale_tema' tema.0 %}">{{ tema.2 }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>







</body>
</html>
