<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temi</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #e17c18;
        }
    </style>
</head>
<body>
    <h1>Temi</h1>

    <div id="filtri" class="filters">
        <form method="GET" action=".">
            <ul class="filterContainer">
                <li class="filterHeader">
                    <span class="filterTitle">Filtri</span>
                </li>
                <li class="filterItem">
                    <button type="submit" class="button">
                        <span class="buttonText">Cerca</span>
                        <span class="buttonIcon">
                            <!-- Aggiungi l'immagine della ricerca -->
                        </span>
                    </button>
                    <button type="reset" class="button"  onclick="window.location.href='/tema/'">
                        <span class="buttonText">Reset</span>
                        <span class="buttonIcon">
                            <!-- Aggiungi l'immagine del reset -->
                        </span>
                    </button>
                </li>
                <div class="filterScroll">
                    <li class="filterItem">
                        <input id="codice" class="input" name="codice" type="text" value="{{ codice }}"/>
                        <label class="placeHolder">Codice</label>
                    </li>
                    <li class="filterItem">
                        <input id="descrizione" class="input" name="descrizione" type="text" value="{{ descrizione }}"/>
                        <label class="placeHolder">Descrizione</label>
                    </li>
                </div>
            </ul>
        </form>
    </div>

    <div id="result" class="tableBody">
        <table>
            <thead>
                <tr>
                    <th>CODICE</th>
                    <th>DESCRIZIONE</th>
                    <th>NUMERO SALE</th>
                </tr>
            </thead>
            <tbody>
                {% for tema in temi %}
                    <tr>
                        <td>{{ tema.0 }}</td>
                        <td>{{ tema.1 }}</td>
                        <td>
                            <a href="{% url 'sale_tema' tema.0 %}">{{ tema.2 }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
