<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temi</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssFooter.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssHeader.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssLoading.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jsFiltersMove.js' %}"></script>
    <script src="{% static 'js/jsLoading.js' %}"></script>
</head>
<body>

    {% include 'header.html' with page_title="Temi" %}
    {% include 'nav.html' %}

    <div class="caricamento">
        <span>...</span>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Filtro a sinistra -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5>Filtri</h5>
                    </div>
                    <div class="card-body">
                        <form method="GET" action=".">
                            <div class="mb-3">
                                <input type="text" class="input" id="codice" name="codice" value="{{ request.GET.codice|default:'' }}">
                                <label for="codice" class="placeHolder">Codice</label>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="input" id="descrizione" name="descrizione" value="{{ request.GET.descrizione|default:'' }}">
                                <label for="descrizione" class="placeHolder">Descrizione</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <button type="submit" class="btn btn-primary d-flex align-items-center justify-content-between col-md-5">
                                    <span>Cerca</span>
                                    <img src="{% static 'img/cerca.png' %}"/>
                                </button>
                                <button class="btn btn-primary btn-invisible col-md-1" disabled></button>
                                <button type="reset" class="btn btn-secondary d-flex align-items-center justify-content-between col-md-5" onclick="window.location.href='/tema/'">
                                    <span>Reset</span>
                                    <img src="{% static 'img/reset.png' %}"/>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Tabella a destra -->
            <div class="col-md-9">
                <div id="result" class="table-responsive bg-white rounded p-3">
                    <table class="table table-hover">
                        <thead class="table">
                            <tr>
                                <th>Codice
                                    <button class="iconArrow" onclick="window.location.href='{{ url_codice }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Descrizione
                                    <button class="iconArrow" onclick="window.location.href='{{ url_descrizione }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                                <th>Numero Sale
                                    <button class="iconArrow" onclick="window.location.href='{{ url_numeroSale }}'">
                                        <img src="{% static 'img/freccia.png' %}">
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tema in temi %}
                                <tr>
                                    <td>{{ tema.0 }}</td>
                                    <td>{{ tema.1 }}</td>
                                    <td>
                                        <a href="{% url 'sale_tema' tema.0 %}">{{ tema.2 }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
